<h2>Welcome to Flatiron Open Orders</h2>
<%= content_tag :ol do %>
    <%=content_tag :li, "books"%>
    <%=content_tag :li, "shades"%>
    <%=content_tag :li, "shirts"%>
    <%=content_tag :li, "shoes"%>
<%end%>

